{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'Images/DTB_logo.png' %}" />
    <title>DTB</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'Images/DTB_logo.png' %}" alt="DTB logo" />
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/works">Portfolio</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/devs">Meet the Devs</a></li>
          <li><a href="/reviews">Reviews</a></li>
          <li><a href="/about">About DTB</a></li>
          
          {% if user.is_authenticated %}
            <li><a href="{% url 'your_profile' user.username %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% if not request.path == '/accounts/signup/' %}
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
